.weapon-selector {
  position: relative;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.weapon-option-image {
  display: block;
  height: 50px;
  width: auto;
}

.weapon-option-image-list {
  height: 38px;
}

.weapon-option-name {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.weapon-create-option {
  color: #1d4ed8;
  font-size: 14px;
  font-weight: 700;
}

.ammo-selector {
  position: relative;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.ammo-option-image {
  display: block;
  width: 50px;
  height: auto;
  border-radius: 4px;
}

.ammo-option-name {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.ammo-option-info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;
}

.ammo-option-info .stats > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 103px;
}
